<!-- Tab buttons -->
<div class="tab1 flexbox flexdirec-row">
  <label id="tabnavid1" class="tabnavid1 tab-button">
    <input type="radio" checked="checked" name="radio1" class="radiobtn1" />
    <div class="tabdes1">Dashboard</div>
  </label>

  <label id="tabnavid2" class="tabnavid2 tab-button">
    <input type="radio" name="radio1" class="radiobtn1" />
    <div class="tabdes1">Song Library Manager</div>
  </label>

  <label id="tabnavid3" class="tabnavid3 tab-button">
    <input type="radio" name="radio1" class="radiobtn1" />
    <div class="tabdes1">Settings</div>
  </label>
</div>
