<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Online Karaoke</title>
<link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" />
<script src="{{ url_for('static', path='/sweetalert2-11.17.2/dist/sweetalert2.min.js') }}"></script>
<script src="{{ url_for('static', path='/axios.min.js') }}"></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', path='/sweetalert2-11.17.2/dist/sweetalert2.min.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', path='/fontawesome-free-6.7.2-web/css/all.min.css') }}"
/>
